.titre{
    text-align: center;
    color: red;

}
p{
    text-align: center;
}
.rectangle{
    width:100px;
    height:5px;
    background-color:#488aff;
    margin-left: auto;
    margin-right: auto;
}
    
.prix{
    color:#488aff;
    font-weight: bold;

}
