page-information{
    h2{
        font-size:20px;
        display: block;
        text-align: center;
        color:#063f8e;
    }
    h3{
        font-size:15px;
        display:block;
        text-align: justify;
    }
    
    }