page-reserver{
.champ{
    margin-top:5%;
}
.button{
    
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    height: 40px;
   
}

.searchOne .searchbar-search-icon{
    background-image: url("../assets/imgs/taxi.png");
}

.searchTwo .searchbar-search-icon{
    background-image: url("../assets/imgs/flag.png");
}

.text{
   margin-left: 5%;
   color:  rgb(18, 73, 148); 
}



}