<ion-header>
    <ion-navbar color="danger">
      <ion-title>
        Reserver
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <ion-searchbar placeholder="Lieu de départ" [(ngModel)]="choixA"  [showCancelButton]="shouldShowCancel" (ionInput)="rechercheInTree($event)"></ion-searchbar>
      <ion-list>

        <button ion-item (tap)="choixVille(item)"  *ngFor="let item of items">
          {{ item }}
        </button>   
    
      </ion-list>

      <ion-searchbar placeholder="Lieu de d'arrivé"[(ngModel)]="choixB"  [showCancelButton]="shouldShowCancel" (ionInput)="rechercheInTreeB($event)"></ion-searchbar>
      <ion-list >
        <button ion-item (tap)="choixVilleB(itemB)"  *ngFor="let itemB of itemsB">
          {{ itemB }}
        </button>   
      </ion-list>

    <div class="champ">
      <ion-item>
        <ion-label>Date de depart</ion-label>
        <ion-datetime displayFormat="MMM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
      </ion-item>
    </div>
      <div class="champ">
      <ion-item>
        <ion-label>Heure de depart</ion-label>
        <ion-datetime displayFormat="H:mm" [(ngModel)]="myDate"></ion-datetime>
      </ion-item>
    </div>

      <button ion-button color="primary" class="button" (tap)="showHome()" outline>Valider</button>
  
  </ion-content>