<ion-header>
    <ion-navbar color="danger">
      <ion-title>
        Reserver
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding style="margin-top: 5%">
      <div class="search">
          <ion-searchbar placeholder="Secteur de départ"  [(ngModel)]="choixSD" (click)="chargementSecteur({choix:1})"></ion-searchbar>
      </div>  
      
    <div class="searchOne">
      <ion-searchbar placeholder="Lieu de départ" (ionCancel)="onCancel($event)" [(ngModel)]="choixA" (ionInput)="rechercheInTree($event)"></ion-searchbar>
    </div>
      <ion-list *ngIf="!cacher">    
        <button  ion-item (click)="choixVille(item)"  *ngFor="let item of items">
          {{ item }}
        </button>   
    
      </ion-list>
      <div class="search">
          <ion-searchbar placeholder="Secteur d'arrivée"  [(ngModel)]="choixSA" (click)="chargementSecteur({choix:2})"></ion-searchbar>
      </div>  
      <div class="searchTwo">
      <ion-searchbar placeholder="Lieu d'arrivée"[(ngModel)]="choixB"   (ionInput)="rechercheInTreeB($event)"></ion-searchbar>
    </div>
      <ion-list *ngIf="!cacherB">
        <button ion-item (click)="choixVilleB(itemB)"  *ngFor="let itemB of itemsB">
          {{ itemB }}
        </button>   
      </ion-list>
      <p (tap)="showArrets()" class="text">Visualiser la carte des arrêts</p>

    <div class="champ" style="margin-top: 10%">
      <ion-item>
          <ion-icon name="calendar" item-start></ion-icon>
        <ion-label>Date de départ</ion-label>
        <ion-datetime (ionChange)="dateChoisi()" displayFormat="MMM/DD/YYYY"  min={{dateAnnee}} max={{dateAnnee+30}} [(ngModel)]="myDate"></ion-datetime>
      </ion-item>
    </div>

      <div class="champ">
        <ion-list>
          <ion-item>
              <ion-icon name="time" item-start></ion-icon>
            <ion-label>Heure de départ</ion-label>
            <ion-select [(ngModel)]="myHour"  >
              <ion-option *ngFor="let heure of heures" value="{{heure.heure_arret_embarquement}}">{{heure.heure_arret_embarquement}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>

      <div class="champ" >
        
        <button (click)="ajouter()" ion-button icon-left outline>
          <ion-icon name="add-circle"></ion-icon>
          Accompagnateur
        </button>
      
          <div *ngFor="let item of ajouterU">
            <ion-card *ngIf="ajouterB==true">  
                <ion-input type="text" value="" [(ngModel)]='usagerAcc' placeholder="Numéro usager"></ion-input> 
            </ion-card>              
          </div>
        
      </div>

    <div style="display:block; margin-top:5%;color:red;" [innerHTML]="erreurs"></div>
    
      <button ion-button color="primary" class="validation" style="display:block; margin-top:13%; margin-left:auto; margin-right:auto" (tap)="verification()" >Réserver</button>
      
      
  </ion-content>